:root {
  --gradient: linear-gradient(to right, #672280, #a626d3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Karla", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: var(--gradient);
  color: #fff;
}
.meme-section {
  width: 90%;
  margin-inline: auto;
  margin-top: 50px;
}
.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.meme-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  row-gap: 20px;
  column-gap: 30px;
}
.meme-form input {
  border: 1px solid #ddd;
  border-radius: 7px;
  outline: none;
  padding: 10px;
  font-size: large;
}
.meme-form input::placeholder {
  color: #aaa;
}
.meme-form button {
  grid-column: 1/-1;
  padding: 15px;
  font-size: large;
  background: var(--gradient);
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: min(500px, 100%);
  margin-inline: auto;
}
.meme {
  position: relative;
  width: min(500px, 100%);
  margin-inline: auto;
  grid-column: 1/-1;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
